= render 'manager/navigation' if session[:manager_id]
= render 'person/navigation' if session[:person_id]

.container-fluid
  = link_to 'Voltar', :back

  .thumbnail
    .caption.text-center
      %div
        %strong Número da conta:
        = "#{agency_number(@account_operation.account.agency)}-#{ac_number(@account_operation.account)}"
      %div
        %strong Cliente:
        = @account_operation.person.get_account_name
      %div
        %strong Valor:
        = monetize @account_operation.amount
      %div
        %strong Tipo:
        = @account_operation.tipo