%div
  %li= link_to 'Home', manager_path
  %li= link_to 'Agências', agencies_path
  %li= link_to 'Contas', accounts_path
  %li= link_to 'Pessoa Física', physical_people_path
  %li= link_to 'Pessoa Jurídica', legal_people_path
  %li= link_to 'Sair', auth_logout_path