= form_for @physical_person do |f|
  - if @physical_person.errors.any?
    .alert.alert-danger
      %h2= "Erro ao salvar."
      %ul
        - @physical_person.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nome, 'Nome Completo: '
    = f.text_field :nome, class: 'form-control'
  .form-group
    = f.label :cpf, 'CPF: '
    = f.text_field :cpf, class: 'form-control'
  .form-inline
    = f.label :nascimento
    = f.date_select :nascimento, { order: [:day, :month, :year] }, { class: 'form-control' }

  .actions
    = f.submit 'Salvar', class: 'btn btn-success'
