= render 'manager/navigation'

.container-fluid
  %h1 Listar Pessoa Física

  %table.table.table-bordered
    %thead
      %tr
        %th Nome
        %th CPF
        %th
        %th
        %th

    %tbody
      - @physical_people.each do |physical_person|
        %tr
          %td= physical_person.nome
          %td= physical_person.cpf
          %td
            .btn-group
              = link_to physical_person, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Visualizar
              = link_to edit_physical_person_path(physical_person), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                  Editar
              = link_to physical_person, :method => :delete, :data => { :confirm => 'Você tem certeza?' }, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-remove
                  Remover
  %br

  = link_to new_physical_person_path, class: 'btn btn-info' do
    %i.glyphicon.glyphicon-plus
    Nova Pessoa Física
 