= render 'manager/navigation'

.container-fluid
  %h1 Listando Pessoa Jurídica

  %table.table.table-bordered
    %thead
      %tr
        %th Nome Fantasia
        %th CNPJ
        %th.th-actions-crud

    %tbody
      - @legal_people.each do |legal_person|
        %tr
          %td= legal_person.nome
          %td= legal_person.cnpj
          %td.text-center
            .btn-group
              = link_to legal_person, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Visualizar
              = link_to edit_legal_person_path(legal_person), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                  Editar
              = link_to legal_person, :method => :delete, :data => { :confirm => 'Você tem certeza?' }, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-remove
                  Remover
  %br

  = link_to new_legal_person_path, class: 'btn btn-info' do
    %i.glyphicon.glyphicon-plus
    Nova Pessoa Jurídica