= render 'manager/navigation'

.row
  .thumbnail.thumb-center
    .caption
      = link_to 'Voltar', legal_people_path

      %div
        %strong Nome:
        = @legal_person.nome
      %div
        %strong CNPJ:
        = @legal_person.cnpj
      %div.text-center
        .btn-group
          = link_to 'Endereço', address_path(@legal_person.address), class: 'btn btn-default'
          = link_to 'Editar', edit_legal_person_path(@legal_person), class: 'btn btn-default'
