= render 'manager/navigation'

.container-fluid
  %h1 Listando Sócios

  %table.table.table-bordered
    %thead
      %tr
        %th Cliente
        %th Conta
        %th.th-actions-crud

    %tbody
      - @partners.each do |partner|
        %tr
          %td= partner.person.get_account_name
          %td= "#{agency_number(partner.account.agency)}-#{ac_number partner.account}"
          %td.text-center
            .btn-group
              = link_to partner, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Visualizar
              = link_to edit_partner_path(partner), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                  Editar
              = link_to partner, :method => :delete, :data => { :confirm => 'Você tem certeza?' }, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-remove
                  Remover

  = link_to new_partner_path, class: 'btn btn-info' do
    %i.glyphicon.glyphicon-plus
    Novo Sócio
