= render 'navigation'

%h1= "Bem vindo ao banco #{@person.get_account_name}"

%h3 Suas contas

%table
  %tr
    %th Número
    %th Agência
    %th
- @person.accounts.each do |account|
  %tr
    %td= ac_number account
    %td= account.agency.nome
    %td= link_to 'Ver conta', account_path(account)
