= render 'navigation'

.container-fluid
  %h1= "Bem vindo, #{@person.get_account_name}"

  %h3 Suas contas

  .row
    - @person.accounts.each do |account|
      .col-md-4
        = render 'account', { account: account }

  %h3 Contas que você é sócio

  .row
    - @person.partners.each do |partner|
      .col-md-4
        = render 'account', { account: partner.account }