= form_for @agency do |f|
  - if @agency.errors.any?
    .alert-danger
      %h2= "#{pluralize(@agency.errors.count, "error")} prohibited this agency from being saved:"
      %ul
        - @agency.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :nome
    = f.text_field :nome, class: 'form-control'
  .form-group
    = f.label :numero
    = f.text_field :numero, class: 'form-control'

  .actions
    = f.submit 'Salvar', class: 'btn btn-success'