= render 'manager/navigation'

.container-fluid
  %h1 Listando Agências

  %table.table.table-bordered
    %thead
      %tr
        %th Nome
        %th Número
        %th.th-actions-crud
    %tbody
      - @agencies.each do |agency|
        %tr
          %td= agency.nome
          %td= agency_number agency
          %td.text-center
            .btn-group
              = link_to agency, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Visualizar
              = link_to edit_agency_path(agency), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                  Editar
              = link_to agency, :method => :delete, :data => { :confirm => 'Você tem certeza?' }, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-remove
                  Remover

  = link_to new_agency_path, class: 'btn btn-info' do
    %i.glyphicon.glyphicon-plus
    Nova Agência
