= render 'manager/navigation'

%p#notice= notice


.row
  .thumbnail.thumb-center
    .caption
      = link_to 'Voltar', agencies_path
      %br
      %br
      %div
        %strong Nome:
        = @agency.nome
      %div
        %strong Numero:
        = @agency.numero
      = link_to edit_agency_path(@agency) do
        %i.glyphicon.glyphicon-edit
        Editar
