= form_for @address do |f|
  - if @address.errors.any?
    .alert.alert-danger
      %h2= "Erro ao salvar."
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :rua
    = f.text_field :rua, class: 'form-control'
  .form-group
    = f.label :cep
    = f.text_field :cep, class: 'form-control'
  .form-group
    = f.label :cidade
    = f.text_field :cidade, class: 'form-control'
  .form-group
    = f.label :uf
    = f.text_field :uf, class: 'form-control'
  .form-group
    = f.label :numero
    = f.text_field :numero, class: 'form-control'

  .actions
    = f.submit 'Save'
