= render 'manager/navigation'

.row
  .thumbnail.thumb-center
    .caption.text-center
      = link_to 'Voltar', :back

      %div
        %strong Rua:
        = @address.rua
      %div
        %strong CEP:
        = @address.cep
      %div
        %strong Cidade:
        = @address.cidade
      %div
        %strong UF:
        = @address.uf
      %div
        %strong Número:
        = @address.numero

    = link_to edit_address_path(@address), class: 'btn btn-default' do
      %i.glyphicon.glyphicon-edit
      Editar
