= form_for @account do |f|
  - if @account.errors.any?
    .alert-danger
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :agency_id
    = f.select :agency_id, options_for_select(agencies_options), class: 'form-control'
  .form-group
    = f.label :tipo
    = f.select :tipo, options_for_select(tipos_options), class: 'form-control'

  .form-group
    = f.label :person_id, 'Pessoa'
    = f.select :person_id, options_for_select(physical_people_options+legal_people_options), class: 'form-control'
    - if @account.errors.messages.include? :incomplete_address
      = link_to 'Corrigir Endereço', edit_address_path(@account.person.id), target: '_blank'
  .actions
    = f.submit 'Salvar', class: 'btn btn-success'

