= render 'manager/navigation'

.container-fluid
  %h1 Listando Agências

  %table.table.table-bordered
    %thead
      %tr
      %th Número
      %th Tipo
      %th Agência
      %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.id
          %td= account.tipo
          %td= account.agency.nome
          %td
            .btn-group
              = link_to account, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                Visualizar
              = link_to edit_account_path(account), class: 'btn btn-default' do
                %i.glyphicon.glyphicon-edit
                  Editar
              = link_to account, :method => :delete, :data => { :confirm => 'Você tem certeza?' }, class: 'btn btn-default' do
                %i.glyphicon.glyphicon-remove
                  Remover
%br

= link_to new_account_path, class: 'btn btn-info' do
  %i.glyphicon.glyphicon-plus
  Abrir Conta