= render 'manager/navigation'

%h1 Contas

%table
  %thead
    %tr
      %th Número
      %th Tipo
      %th Agência
      %th
      %th
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= ac_number account
        %td= ac_type account
        %td= account.agency.nome
        %td= link_to 'Visualizar', account
        %td= link_to 'Editar', edit_account_path(account)
        %td= link_to 'Excluir', account, :method => :delete, :data => { :confirm => 'Você tem certeza?' }

%br

= link_to 'Abrir Conta', new_account_path
