%p#notice= notice

%div
  %strong Número da conta:
  = ac_number @account
%div
  %strong Tipo da conta:
  = ac_type @account
%div
  %strong Agência:
  = @account.agency.nome


= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
